#scan::before {
    background-image: url("assets//btn-scan.svg");
}

#scan[disabled]::before {
    background-image: url("assets//btn-scan-disabled.svg");
}

#record::before {
    background-image: url("assets//btn-record.svg");
}

#record[disabled]::before {
    background-image: url("assets//btn-record-disabled.svg");
}

#stop::before {
    background-image: url("assets//btn-stop.svg");
}

#stop[disabled]::before {
    background-image: url("assets//btn-stop-disabled.svg");
}

#save::before {
    background-image: url("assets//btn-save.svg");
}

#save[disabled]::before {
    background-image: url("assets//btn-save-disabled.svg");
}

#settings::before {
    background-image: url("assets//icon-settings.svg");
}

#info::before {
    background-image: url("assets//icon-info.svg");
}

#like::before {
    background-image: url("assets//icon-like.svg");
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

html {
    font-size: 16px;
    box-sizing: border-box;
}

.container {
    min-width: 430px;
    text-align: left;
}

.pad {
    min-width: 100%;
    margin: 15px 0 0 0;
}
.horizontal-pad {
    min-width: 100%;
    margin: 6px 0px 4px 6px;
}

.btn-wide {
    min-width: 93px;
}

.btn-thin {
    float: right;
}

.btn {
    background: transparent;
    margin: 0px 3px 0 0;
    padding: 6px;
    border: 1px solid #BBBBBB;
    user-select: none;
    outline: none;
    text-transform: uppercase;
}

.btn:disabled {
    color: #D2D2D2;
    border: 1px solid #E8E8E8;
}

button:active:hover {
    background-color: #3A3A3A;
    border: 1px solid #3A3A3A;
    color: #FFFDE7;
}

button:disabled:hover {
    cursor: not-allowed;
    z-index: 1;
}

button:hover {
    cursor: pointer;
    z-index: 1;
    border: 1px solid #E16F6F;
}

button::before {
    display: inline-block;
    height: 24px;
    width: 24px;
    vertical-align: middle;
    content: "";
}

.hidden {
    display: none;
}

img {
    vertical-align: middle;
}

.icon {
    float: right;
    margin: 0 5px;
    padding: 5px 0;
    user-select: none;
    outline: none;
    cursor: pointer;
}

textarea {
    font-family: monospace;
    font-weight: 300;
    font-size: 12px;
    min-width: 100%;
    min-height: 150px;
    padding: 0 4px;
    background-color: #DEDEDE;
    color: #474747;
    outline: none;
    border-radius: 1px;
    border: 1px solid #BBBBBB;
    box-sizing: border-box;
}

.checkbox label {
    cursor: pointer;
    position: absolute;
    width: 25px;
    height: 25px;
    top: 0;
    left: 0;
    background: #EEEEEE;
    border: 1px solid #DDDDDD;
}

.checkbox {
    margin-top: 6px;
    width: 25px;
    position: relative;
}

#sortable {
    list-style-type: none;
    margin: 3px 12px 0 0;
    padding-left: 8px;
    overflow: hidden;
}

#sortable li {
    margin: 5px 10px 5px 0;
    padding: 5px;
    min-width: 40px;
    text-align: center;
    float: left;
    cursor: move;
    border: 1px solid #EEEEEE;
}

#config-panel {
    border: 1px solid #DDDDDD;
}

.disabled span {
    color: #D2D2D2;
    background-color: #FFFFFF;
}

.ui-sortable-disabled > li {
    border: 1px solid #E8E8E8;
    color: #D2D2D2;
    background-color: #FFFFFF;
    cursor: not-allowed;
}